@keyframes animate-netflix-hover {
  15% {
    stroke: #fff;
  }
  /*35% {
      fill: transparent;
  }*/
  50% {
    stroke-dashoffset: 0;
    stroke-width: var(--stroke-width);
  }

  75% {
    fill: transparent;


  }

  100% {
    stroke-dashoffset: 0;
    stroke: #d81f26;
    fill: #ab1d1f;

  }
}

@keyframes animate-netflix {
  15% {

    stroke: #d81f26;
  }
  25% {
    stroke-width: var(--stroke-width);
  }

  50% {
    stroke-dashoffset: 0;
    fill: transparent;
  }

  95% {
    stroke: #d81f26;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #d81f26;
    fill: #d81f26;


  }
}

@keyframes rotate-y {
  from {transform: rotateY(10deg) scale(1);}
  to {transform: rotateY(0deg) scale(1.5)}
}

/* http://animista.net/play/basic/shadow-pop */
@keyframes move-out {
  0% {
    box-shadow: 0 0 rgba(229, 9, 20,0.4),
                0 0 rgba(229, 9, 20,0.4),
                0 0 rgba(229, 9, 20,0.4),
                0 0 rgba(229, 9, 20,0.4),
                0 0 rgba(229, 9, 20,0.4),
                0 0 rgba(229, 9, 20,0.4),
                0 0 rgba(229, 9, 20,0.4),
                0 0 rgba(229, 9, 20,0.4);
    transform: translateX(0) translateY(0);
  }


  100% {
    box-shadow: 1px -1px rgba(229, 9, 20,0.4),
                2px -2px rgba(229, 9, 20,0.4),
                3px -3px rgba(229, 9, 20,0.4),
                4px -4px rgba(229, 9, 20,0.4),
                5px -5px rgba(229, 9, 20,0.4),
                6px -6px rgba(229, 9, 20,0.4),
                7px -7px rgba(229, 9, 20,0.4),
                8px -8px rgba(229, 9, 20,0.4);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes slide-out {
  0% {
    margin-top: 1em;
    border: white 3em dot-dot-dash;
  }
  100% {
    border: blue 3em dot-dash;
    margin-top: -100vh;
  }
}

@keyframes slide-in {
  0% {
    bottom: 100vw;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bounce-in {
  50% {
    stroke-dashoffset: 0;
  }

  75% {
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 0;

    fill: rgba(229,9,20,1);


  }
}