:root {
  --main-font: Roboto, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);

}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #111111;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 100%;
}
header {
  width: 100%;

}
main {
  width: 100%;
  display: grid;
  grid-auto-rows: minmax(125px, auto);
}

/* Navigation */
.main-nav {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr auto 1fr;

  position: fixed;
  background-color: rgba(17,17,17,0.7);
  z-index: 200;
}

.left-nav {
  display:none;
}
.right-nav {
  grid-column: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/*Responsive Navigation*/
.small-nav {
  grid-column: 2;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.nav-item {
  margin: 0 10px;
  width: max-content;
}

.right-nav .nav-item a:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logo-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  grid-column: 1;
  max-height: 4em;
  cursor: pointer;

}

.main-nav ul li {
  color: white;
  font-family: var(--main-font);
  list-style-type: none;
  display: inline;
  border-bottom: 0;
}

.main-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;

}

/*Active Menu item*/
.active {
  font-weight: bold;
}

/*Navigation dropdown*/
.dropdown {
  display: none;

  position: absolute;
  top: 80%;
  left: 20%;
  background-color: rgba(0,0,0,0.8);

}
.dropdown a {
  color: white;
  z-index: 1;
}
.dropdown-activator a {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-left: 10px;
  font-weight: bold;
}

.small-nav:hover .dropdown {
  display: block;
  /*position: absolute;*/
}

.dropdown a:hover {
  background-color: #ddd;
}

/*Main Content*/
.shows {
  display: grid;
  grid-template-rows: repeat(4, 25vh);
}

.highlighted-show{
  grid-gap: 5px;
  list-style: none;
  margin: 0;
}

.categories {
  display: grid;
  grid-row: 3;
}

.category {
  display: grid;
  /*grid-auto-flow:column;*/
}
.category-next {
  display: none;
  left: 0;
}
.category, .category-next {
  width: 100%;
  position: relative;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(5em, 1fr);
  grid-gap: 5px;
  overflow: hidden;
  list-style: none;
  transition: 1s;

}

/*Add padding for content within highlighted show*/
.highlighted-show > *{
  padding: 2rem;
  background-color: #333;
  color: white;
}

/*Wrapper for content within highlighted show*/
.show-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: calc(16px + 8 * ((100vw - 320px) / 880));
}

.show-heading {
  font-size: calc(5vw + 8 * ((100vw - 320px) / 880));
  margin-bottom: 0.2em;
}

.category-header {
  color: white;
  font-size: calc(1.5em + 8 * ((100vw - 320px) / 880));
  font-weight: bold;
  margin: 0 0 1rem calc(66px + 8 * ((100vw - 320px) / 880));

}
.small {
  font-size: 1.2em;
}

/*Add image to highlighted show*/
.highlight {
  background-image:
    linear-gradient(to top, rgba(17,17,17,1), rgba(0,0,0,0)),
    url(../media/images/peaky-blinders.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100vw;
  grid-column: 1 / -1;
  grid-row: span 3;

}
/*Hover effect for small shows*/
.small-show {
  height: 0;
  padding-top: 56.25%;
}

.small-show a{
 text-decoration: none;
  color: white;
}
.small-show:hover {
  transform: scale(1.4);
  z-index: 90;
}
.small-show:hover:after {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
.has-positive-translate {
  transform: translate(45px);
}
.has-negative-translate {
  transform: translate(-45px);
}

/*.small-show:hover {*/
/*  !*transform: scale(1.4);*!*/
/*  !*margin: 0 40px;*!*/
/*  background-size: cover;*/
/*  width: 150%;*/
/*  height: 150%;*/
/*  transition: 0.5s;*/
/*  z-index: 10;*/
/*  cursor: pointer;*/

/*}*/

/*Category vertical whitespace*/
#section1, #section2, #section3 {
  margin-bottom: 2em;
}

.categories div {
  display:flex;
  flex-direction: column;
}
.show {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.arrows {

  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: rgb(0, 0, 0);
  width: 80px;
  padding: 30px 20px;
  text-align: center;
  z-index: 15;
}
.show .arrows:first-child {
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  left: 2.67%;
}
.show .arrows:last-child {
   background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  right: 2.67%;
 }


.show-buttons {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin-bottom: 1em;
}

.show-button {
  width: max-content;
  height: calc(1em + 8 * ((100vw - 320px) / 880));
  font-size: calc(0.5em + 8 * ((100vw - 320px) / 880));
  background-color: rgba(51, 51, 51, 0.4);
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 10px;
  padding: calc(10px + 8 * ((100vw - 320px) / 880)) calc(20px + 8 * ((100vw - 320px) / 880));
  border-radius: 5px;
  transition: 0.5s;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.show-button:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
  transition: 0.5s;
}

.show-button:first-child {
  margin-left: 0;
}
.show-button i {
  margin-right: 10px;
}
.show-season {
  font-weight: bold;
  font-size: calc(1em + 8 * ((100vw - 320px) / 880));
  margin-bottom: 0.4em;
}
.show-description {
  font-size: calc(8px + 8 * ((100vw - 320px) / 880));
  max-width: 80%;
}


.advertisement {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background-size: 100%;
  background-repeat: no-repeat;

  background-image:
          linear-gradient(to top, rgba(17,17,17,1), rgba(17,17,17,0.7), rgba(17,17,17,1)),
          url(../media/images/billgates.jpeg);
}
.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
.main-image img {
  width: 75%;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
}
.main-info h2:first-child {
  font-size: 4em;
  margin-bottom: .5em;
}
.main-info h2:last-child {
  font-size: 2em;
}
.main-info .show-buttons {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
}
.main-info .show-button {
  margin: 0 0.5em;
}
.main-info .show-description {
  width: 70%;
}

@media screen and (min-width: 40em) {
  .left-nav {
    grid-column: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  }
  .small-nav {
    display: none;
  }


  .categories {
    grid-row: 4;

  }

  .highlight {
    grid-column: 1 / -1;
    grid-row: span 3;
    height: 90vh;
  }
  .small-show {
    transform: scale(1);
  }


  .show-description {
    max-width: 35%;
  }



}

@media screen and (min-width: 30em) {
  .show-wrapper {
    margin-left: 1rem;
  }
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@IMAGES@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*NIEUWE RELEASES*/
#section1 .category .small-show {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/elite.jpg);
  background-size: cover;
  transition: 0.5s;

}
#section1 .category .small-show:nth-child(1) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/thespy.jpg);
}
#section1 .category .small-show:nth-child(2) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/orphanblack.jpg);
}

#section1 .category .small-show:nth-child(3) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/mind_explained.jpg);
}

#section1 .category .small-show:nth-child(4) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/Unbelievable.jpg);
}

#section1 .category .small-show:nth-child(5) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/whitegold.jpg);
}
/* Next Row */
#section1 .category-next .small-show {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/thespy.jpg);
  background-size: cover;
  transition: 0.5s;
}
#section1 .category-next .small-show:nth-child(1) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/elite.jpg);
}
#section1 .category-next .small-show:nth-child(2) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/mind_explained.jpg);
}

#section1 .category-next .small-show:nth-child(3) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/whitegold.jpg);
}

#section1 .category-next .small-show:nth-child(4) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/Unbelievable.jpg);
}

#section1 .category-next .small-show:nth-child(5) {
  background-image:
          linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)),
          url(../media/images/orphanblack.jpg);
}